<div class="main-login">
    <div class="left-login">
        <img src="../../../assets/svg/depilation-animate.svg" class="left-login-image" alt="">
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>Entrar</h1>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="textfield">
                    <label for="usuario">E-mail</label>
                    <input type="text" name="email" placeholder="E-mail" formControlName="email">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha" formControlName="password">
                </div>
                <button class="btn-login">Entrar</button>
            </form>
            <span class="center margin-top">Novo aqui?<a routerLink="sign-up">Cadastre-se</a></span>
        </div>
    </div>
</div>










<!-- <div class="form-container mat-elevation-z5">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput  placeholder="Email address" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">
                Email is required
            </mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button type="submit">
                Login
            </button>            
        </div>
        <span class="center margin-top">Novo aqui?<a routerLink="sign-up">Cadastre-se</a></span>
    </form>
</div> -->